body {
    background-color: #1C323A;
    font-family: Gotham, Metropolis, Futura, iCiel, sans-serif;
}

#nameNav {
    font-size: 1.6em;
}

footer {
    margin-top: 10em;
    background-color: #EAEAEA;
  }
  
  .iconSocialMedia {
    width: 3em;
    height: 3em;
  }