body {
  background-color: #1C323A;
  font-family: Gotham, Metropolis, Futura, iCiel, sans-serif;
}

.timeline-area {
  margin: 90px auto;
  width: 700px;
  height: 1000px;
  border-left: 8px solid #ffffff; /*Ma ligne est en fait la bordure gauche de mon conteneur principal*/
  padding: 0 20px 0 30px;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em #000000;
}

.bloc {
  padding: 50px 25px;
  font-size: 10px;
  line-height: 1.7em;
  position: relative;
  height: 300px;
  margin-bottom: 30px;
}

 .bloc:before {
  content: ''; /*Le contenu du point*/
  display: block; 
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background-color: #ffffff;
  position: absolute; /*Le point est par-dessus la ligne*/
  top: 70px; /*Déplace le point*/
  left: -49px;
  box-shadow: 0em 0.2em 0.4em #000000;
}

.bloc h2 {
  margin-top: 0;
}

.bloc h3 {
  margin: 0;
}

.bloc h4 {
  margin: 0;
}

#nameNav {
  font-size: 1.6em;
}

footer {
  margin-top: 10em;
  background-color: #EAEAEA;
}

.iconSocialMedia {
  width: 3em;
  height: 3em;
}