body {
    background-color: #1C323A;
    font-family: Gotham, Metropolis, Futura, iCiel, sans-serif;
}

#nameNav {
    font-size: 1.6em;
}

#pageContactMe {
    align-items: center;
    text-shadow: 0.1em 0.1em 0.2em #000000;
}

#BgLeaf {
    background-image: url(../IMG/leaf.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: -0.5em 0.4em 0.7em #000000;
}

.linkMail {
    text-decoration: none;
    color: #cccccc;
}

footer {
    margin-top: 10em;
    background-color: #EAEAEA;
  }
  
  .iconSocialMedia {
    width: 3em;
    height: 3em;
  }





