/*Partie Accueil*/
nav {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*La propriété CSS box-sizing définit la façon dont la hauteur et la largeur totale d'un élément est calculée. border-box prend en compte les padding contrairement au content-box.*/
    display: flex; /* Les liens seront disposés à l'horizontal */
    justify-content: space-around;
    align-items: center;
    min-height: 7vh; /* A vérifier, ma hauteur ne pourra pas baisser en dessous de 7vh */
    background-color: #ffffff;
    position: fixed; /*Pour faire fonctionner le z-index*/
    top: 0;
    width: 100%;
    z-index: 5; /*Pour faire passer au premier plan mon menu déroulant*/
}

.logo a {
    color: #000000;
    text-transform: uppercase; /* TOUT EN LETTRE BATON */
    letter-spacing: 3px;
    font-size: 18px; /* Voir pourquoi je ne parviens pas à changer la taille de police */
    text-decoration: none;
}
.nav-links li {
    list-style-type: none;
}
.nav-links li a {
    color: #000000;
    font-size: 1.2em;
    text-decoration: none;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%; /* Pour trouver la bonne largeur, appliquer d'abord un justify-content et un background-color pour estimer la largeur du bloc ul */
    color: #eeeeee;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none; /* J'ai préféré commencer à réaliser le .burger div {} ci-dessous avant afin de voir et maitriser le rendu de ce dernier. Je suis ensuite passé à cette étape pour gérer ensuite le responsive en mettant mon premier media screen. */
    cursor: pointer; /* Le curseur se transforme en en main comme sur un lien désormais */
}

.burger div{ /* Cibler uniquement burger n'est pas utile vu que l'on ne le voit pas. */
    width: 25px;
    height: 3px;
    background-color: #000000;   
    margin: 5px;
    transition: all 0.3s ease;
}

body {
    background-color: #1C323A;
    font-family: Gotham, Metropolis, Futura, iCiel, sans-serif;
}

#anchor {
    position: absolute;
    top: 107%;
    left: 50%;
}

/* p, h1, h2, h3, h4, h5, h6, hr {
    text-shadow: 0.1em 0.1em 0.2em #000000;
} */

h1 {
    font-size: 3vw;
}

header {
    background-image: url(../IMG/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffffee;
    font-size: 1.6em;
    box-shadow: 0em 0.3em 0.7em #000000;
    margin-bottom: 5em;

}

.hr1 {
    border: 2px solid;
    background-color: #ffffff;
    width: 60%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.hr2 {
    border: 2px solid;
    background-color: #ffffff;
    width: 5em;
    margin-top: 1.5em;
}

#skillPart .row {
    font-size: 1.4em;
}

/* Séparateur vague vers le bas */

.separation {
    position: relative;
    background-color: #e3cdc5;
}

#shape-fill01 {
    fill: #1C323A;
}

/* Séparateur vague vers le haut */

.custom-shape-divider-bottom-1610907985 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610907985 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

#shape-fill02 {
    fill: #E3CDC5;
}

#skillPart .hr2 {
    background-color: #343A40;
}

#explore {
    width: 7em;
    height: 3em;
    box-shadow: 0em 0em 0.5em #ffffff;
    scroll-behavior: smooth;
}

.pictureThomas {
    width: 18em;
    height: 18em;
}

.container {
    text-align: center;
    margin-top: 6em;
}

#skillPart {
    background-color: #e3cdc5;
}

.skill-icon {
    width: 40%;
    height: auto;
}

footer {
    background-color: #EAEAEA;
    width: 100%;
}

.iconSocialMedia {
    width: 3em;
    height: 3em;
}

#carouselPortfolio {
    width: 70vw;
}

/*Animation menu burger*/

.toggle .line1 { /* Je souhaite que mon burger se transforme en croix, apès ouverture et avant fermeture pour indiquer qu'on peut le fermer */
    transform: rotate(-45deg) translate(-5px,6px);
    border-radius: 50%;
}
.toggle .line2 {
    opacity: 0; /* On ne doit pas voir la deuxième ligne */
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
/*Fin animation menu burger*/

/*Partie exp*/

.timeline-area1 {
    margin: 90px auto;
    width: 700px;
    height: 1600px;
    border-left: 8px solid #ffffff; /*Ma ligne est en fait la bordure gauche de mon conteneur principal*/
    padding: 0 20px 0 30px;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em #000000;
  }
  
  .bloc1 {
    padding: 50px 25px;
    font-size: 10px;
    line-height: 1.7em;
    position: relative;
    height: 300px;
    margin-bottom: 20px;
  }
  
   .bloc1:before {
    content: ''; /*Le contenu du point*/
    display: block; 
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: #ffffff;
    position: absolute; /*Le point est par-dessus la ligne*/
    top: 70px; /*Déplace le point*/
    left: -49px;
    box-shadow: 0em 0.2em 0.4em #000000;
  }
  
  .bloc1 h2 {
    margin-top: 0;
  }
  
  .bloc1 h3 {
    margin: 0;
  }
  
  .bloc1 h4 {
    margin: 0;
  }

  /*Partie Formation*/

  

.timeline-area2 {
    margin: 90px auto;
    width: 700px;
    height: 1000px;
    border-left: 8px solid #ffffff; /*Ma ligne est en fait la bordure gauche de mon conteneur principal*/
    padding: 0 20px 0 30px;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em #000000;
  }
  
  .bloc2 {
    padding: 50px 25px;
    font-size: 10px;
    line-height: 1.7em;
    position: relative;
    height: 300px;
    margin-bottom: 30px;
  }
  
   .bloc2:before {
    content: ''; /*Le contenu du point*/
    display: block; 
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-color: #ffffff;
    position: absolute; /*Le point est par-dessus la ligne*/
    top: 70px; /*Déplace le point*/
    left: -49px;
    box-shadow: 0em 0.2em 0.4em #000000;
  }
  
  .bloc2 h2 {
    margin-top: 0;
  }
  
  .bloc2 h3 {
    margin: 0;
  }
  
  .bloc2 h4 {
    margin: 0;
  }

  /*Partie CV*/


  /*Partie Contact*/

  
#pageContactMe {
    align-items: center;
    text-shadow: 0.1em 0.1em 0.2em #000000;
}

#BgLeaf {
    position: relative; 
    z-index: -1;
    background-image: url(../IMG/leaf.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: -0.5em 0.4em 0.7em #000000;
}

.linkMail {
    text-decoration: none;
    color: #cccccc;
}


@media screen and (max-width:1024px) {
    .nav-links {
        width: 75%; /* L'écartement entre mes liens ne me plaisait pas lorsque je réduisais ma fenêtre. C'est pourquoi j'élargie mon nav-links après avoir franchi le seuil des 1024px. Sur un écran type tablette j'aurai un écartement toujours aussi esthétique. */ 
    }
    h1 {
        font-size: 5vw;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden; /* Empêche le scroll horizontal. Si besoin de voir ce qu'il se passe de l'autre côté, F12 sur le navigateur, ou je pourrai scroller. */
    }
    .nav-links {
        position: absolute; /* Sauf erreur de ma part, le menu issu du menu burger sera indépendant de la taille de son conteneur. Ainsi, right:0px s'applique par rapport à l'écran et non son conteneur. Les height, top, right s'appliquent non plus en fonction du conteneur mais bien de l'écran. */
        right: 0px; /* Le menu sera situé à la droite de l'écran */
        height: 95vh;
        top: 7vh;
        background-color: #000000; /* en mettant le background, je m'aperçois que la largeur que prendra mon menu vertical sera 75% comme indiqué plus haut dans la première media screen. */
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 50%; /* J'ai modifié la largeur de mon menu */
        transform: translate(100%); 
        /* Le menu est complètement sorti de l'écran. Scroller à droite pour le voir. transform translate décale l'élément. Ceci dans le but de préparer une animation. */
        transition: transform 0.5s ease-in; /* mon animation agit sur transforme*/
    }
    .nav-links li a{
        color: #ffffff;
    }
    .burger {
        display: block; /* On passe de display none à block. Le fait de faire apparaitre le menu burger m'a décalée mon logo, il va falloir remédier à cela. */
    }
    .nav-active { /* .nav-active a été inventé pour le JS */
        transform: translateX(0%);
    }
    .progressBar {
        width: 250px;
        height: 30px;
        border: solid #ffffff 3px;
    }
    
    .progressGood {
    height: 24px;
    }
    
    .progressBof {
        height: 24px;
    }
    
    .progress {
        height: 24px;
    }  

    .skill-icon {
        width: 70%;
    }
} 

@media screen and (max-width:520px) {
    #introduction {
        padding-left: 10%;
        padding-right: 10%;
    }
    .pictureThomas {
        width: 14em;
        height: 14em;
    }
    #skillPart {
        padding-left: 10%;
        padding-right: 10%;
    }
    #sliderPart {
        padding-left: 10%;
        padding-right: 10%;
    }

    .bloc1 {
        width: 100vw;
        height: 300px auto;
        padding-right: 20%;
    }
    .bloc1 h4, h3 {
        font-size: 1.5em;
        text-align: center;
    }
    .timeline-area1 {
        margin-left: 10%;
    }
    .bloc2 {
        width: 100vw;
        height: 300px auto;
        padding-right: 20%;
    }
    .bloc2 h4, h3 {
        font-size: 1.5em;
        text-align: center;
    }
    .timeline-area2 {
        margin-left: 10%;
    }
    #contactPart p {
        font-size: 0.7em;
    }
    .skill-icon {
        width: 100%;
    }
}
